.popup-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: white;
  min-height: 500px;
  width: auto;
  color: white;
  overflow: hidden;
}

.popup-button-state {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  color: black;
}

.popup-background-top {
  position: absolute;
  top: -50%;
  left: -50%;
}

.popup-background-bottom {
  position: absolute;
  bottom: -50%;
  right: -50%;
}
