.buttons-section{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.progress-container {
  width: 390px;
  height: 65px;
  border-radius: 69px;
  background: rgba(203, 245, 249, 0.50);
  box-shadow: -13px 11px 73.5px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.progress-container-text {
  position: absolute;
  right: 0;
  left: 0;
  top: 18px;
  bottom: 0;
  color: #595757;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.progress-container-text p {
  margin-bottom: unset;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: rgba(152, 202, 202, 0.70);
  transition: width 0.1s linear;
}

#unlockButton {
  color: white;
}

#unlockButton:disabled {
  cursor: not-allowed;
}

#closePage {
  color: #595757;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.unlocked .progress-container .progress-bar {
  background: rgb(0, 0, 0) !important;
}

.unlocked .progress-container #unlockButton {
  background: rgb(0, 0, 0) !important;
  cursor: pointer !important;
  transition: ease-in .5s;
}

.unlocked .progress-container .progress-container-text {
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .progress-container {
    width: 80vw;
  }
 }
