@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.shield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  text-align: center;
  gap: 15px;
  font-family: Arial, sans-serif;
  z-index: 997;
}

.buttons-section{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.progress-container {
  width: 390px;
  height: 65px;
  border-radius: 69px;
  background: rgba(203, 245, 249, 0.50);
  box-shadow: -13px 11px 73.5px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.shield-slider{
  color: #595757;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  width: 70%;
  margin-top: 32px;
  margin-bottom: 64px;
}

.progress-container-text {
  position: absolute;
  right: 0;
  left: 0;
  top: 18px;
  bottom: 0;
  color: #595757;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.logo-shield-container {
  height: 260px;
  width: 390px;
}

.logo-placeholder {
  aspect-ratio: 390/260;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.progress-container-text p {
  margin-bottom: unset;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: rgba(152, 202, 202, 0.70);
  transition: width 0.1s linear;
}

#unlockButton {
  color: white;
}

#unlockButton:disabled {
  cursor: not-allowed;
}

#closePage {
  color: #595757;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.unlocked .progress-container .progress-bar {
  background: rgb(0, 0, 0) !important;

}

.unlocked .progress-container #unlockButton {
  background: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.unlocked .progress-container .progress-container-text {
  color: rgb(255, 255, 255);
}

.background-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}

.background-bottom {
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 998;
}

.shield-content {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

button{
  background: none;
  border: none;
}

.shield-title {
  color: #090617;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.92px;
  width: 90%;
}

.shield-website {
  color: #595757;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  position: absolute;
  bottom: 35px;
  z-index: 999;
  opacity: 0.5;
}

.shield-slider-hint {
  font-weight: 600;
  text-decoration: underline;
}
