.buttons-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.progress-container {
  color: #494444;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline !important;
  position: relative;
  width: 500px;
  margin-bottom: 150px;
}

.progress-container-text {
  bottom: 0;
  color: #595757;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 18px;
}

.progress-container-text p {
  margin-bottom: unset;
}

.progress-bar {
  background: rgba(152, 202, 202, 0.70);
  height: 100%;
  transition: width 0.1s linear;
  width: 0%;
}

#unlockButton:disabled {
  cursor: not-allowed;
}

#closePage {
  color: #595757;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.unlocked .progress-container .progress-bar {
  background: rgb(0, 0, 0) !important;
}

.unlocked .progress-container #unlockButton {
  background: rgb(0, 0, 0) !important;
  cursor: pointer !important;
  transition: ease-in .5s;
}

@media (max-width: 480px) {
  .progress-container {
    width: 80vw;
  }
 }

#progress-text {
  text-decoration: underline;
}
