@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.shield {
  align-items: center;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  gap: 15px;
  height: 100%;
  left: 0;
  padding-top: 5%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 997;
}

.logo-shield-container {
  height: auto;
  width: 33%;
}

#logo-shield img {
  aspect-ratio: 390/260 !important;
  height: 100% !important;
  object-fit: cover !important;
  width: 100% !important;
}

.background-top {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 998;
}

.background-bottom {
  bottom: -10px;
  position: absolute;
  right: 0;
  z-index: 998;
}

.shield-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  z-index: 999;
}

.shield button{
  background: none;
  border: none;
}

.fade-in-down {
  animation: fade-in-down 5s ease infinite;
}

@keyframes fade-in-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Responsive mobile du shield  */

@media (max-width: 480px) {

  .logo-shield-container {
    height: auto;
    width: 50%;
  }

  .shield-content {
    gap: 6vh;
  }

  .background-top {
    left: -60%;
    position: absolute;
    top: -60%;
    z-index: 998;
  }

  .background-bottom {
    bottom: -60%;
    position: absolute;
    right: -60%;
    z-index: 998;
  }
 }
