.shield-title {
  color: #0b0b0b;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
  margin: unset;
  text-align: left;
  text-wrap: balance;
  font-weight: 700;
}

.shield-title-section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Responsive mobile du shield  */

@media (max-width: 480px) {
  .shield-title {
    font-size: 32px;
  }
 }
